.firstSection {
  height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(252, 252, 252, 0.5)
    ),
    url(../../assets/rand.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h2 {
    font-size: 44px;
    font-weight: 700;
  }

  p {
    letter-spacing: 2px;
  }

  button {
    /* background: initial; */
    border: none;
    border-radius: 6px;
    padding: 0.75rem;
    /* padding: 0.5rem; */
  }
}
