.filter_container {
  color: #595656;
  letter-spacing: 1px;
  font-size: 14px;
  position: sticky;
  top: 15vh;
}

.filter_container > p {
  border-top: 1px solid grey;
  padding: 1rem;
}

.price_filter input {
  width: 45%;
  border-radius: 6px;
  border: 1px solid #cacaca;
  font-size: 18px;
}

.filter_container > section {
  border-top: 1px solid grey;
  padding: 1rem;
}

.filter_name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.price_filter select {
  padding: 0.5rem 1rem;
}

.category_product_header {
  justify-content: flex-end;
  width: 100%;
}

.mobile_filter {
  display: none;
}

.category_product_container {
  width: 100%;
  padding: 0 1rem 1.5rem 1rem;
}

.category_product_container section::-webkit-scrollbar {
  background: #f5c4fb;
  height: 10px;
}
.category_product_container section::-webkit-scrollbar-thumb {
  background: #f3f3f3;
}

.category_product_container section {
  width: 100%;
  max-width: 100%;
  padding-bottom: 1rem;
  height: 100%;
}

.category_product_container h3 {
  font-size: 24px;
}

.category_product_container .view_category_btn {
  background: #f5c4fb;
  border: none;
  margin: 1rem auto;
  border-radius: 6px;
  letter-spacing: 1px;
  padding: 0.75rem 1rem;
}

.cancel_filter_display {
  display: none;
}

.product_card {
  width: calc((100% - 1.5rem) / 3);
  color: initial;
}

.product_card img {
  width: 100%;
}

@media (min-width: 200px) and (max-width: 1024px) {
  .product_card {
    width: calc((100% - 1rem) / 2);
    height: 450px;
  }
}

@media (min-width: 200px) and (max-width: 767px) {
  .product_card img {
    height: 200px;
  }

  .filter_container {
    color: #fff;
  }

  .mobile_filter {
    display: flex;
  }

  .cancel_filter_display {
    padding: 0.5rem;
    display: block;
  }

  .cancel_filter_display > button {
    background: #cacaca;
    color: #000000;
    border: 1px solid #000000;
    padding: 0.5rem 1rem;
    font-size: 16px;
  }
}
