.collection_prod {
  background: #f3f3f3;
  height: 500px;
  color: initial;
}

.collection_prod img {
  height: 250px;
  border-radius: 8px 8px 0 0;
  margin-bottom: 1rem;
  object-fit: cover;
}
.collection_prod p {
  padding: 0.5rem 1rem;
  text-align: start;
  letter-spacing: 1px;
}
.collection_prod .in_stock {
  margin: auto 1rem 1rem 1rem;
  border-radius: 6px;
  border: 1px solid #000000;
}

.collection_prod .out_stock {
  margin: auto 1rem 1rem 1rem;
  color: #6b6b6b;
  border-radius: 6px;
  border: 1px solid #6b6b6b;
}

@media (min-width: 200px) and (max-width: 767px) {
  .collection_prod {
    background: #f3f3f3;
    height: 500px;
  }
}
